<div class="case">
  <div class="case__container">
    <app-header></app-header> 
    <div class="float">
      <div class="float__top"></div>
      <h1 class="header__big float__header">Business Casual</h1>
      <p class="float__text text__regular">Business Casual is an app Léann Bahi, Junhee Kim and I designed as a class project. To start we received a research packet created by another group of students and were tasked with designing an app that helped connect university students and industry professionals.<br><br>Our first step was to do some initial competitive research on what solutions already existed help serve that purpose. After being able to identify that there were some serious gaps in that market we could fill we decided to go ahead with the design.</p>



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Navigation</h2>
      </div>
      <p class="float__text text__regular">To guide our progress we developed two personas, one from industry and another from the world of education.</p>
      <img src="../../assets/images/Business/johnathan.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">
      <img src="../../assets/images/Business/emily.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Scenarios</h2>
      </div>
      <p class="float__text text__regular">After developing our personas, we also wrote several scenarios exploring in narrative form how the app could serve its users. Each scenario explores the problem space from a different perspective and touch on specific features we thought might be useful to explore.</p>
      <img src="../../assets/images/Business/scenario-1.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">
      <p class="float__text--label text__regular">This Scenario was written by Léann Bahi</p>
      <img src="../../assets/images/Business/scenario-2.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Brainstorming</h2>
      </div>
      <p class="float__text text__regular">As our team moved from concept to ideation, we brainstormed features then organized them by categories and importance. We came up with seven categories: sign up/sign in, view university/company profile, event profiles, search, communication, matches, and post-event. This step allowed the team to be on the same page as we prepared to move forwards. Along with the scenarios, this step also helped the team determine which categories and tasks we should focus on.</p>
      <img src="../../assets/images/Business/brainstorm.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Storyboards</h2>
      </div>
      <p class="float__text text__regular">After taking some time to identify some of the ways our app could help users we created several storyboards to further refine our idea of what the app’s purpose would be. This would help guide us as we developed the wireframes to actually address the users’ needs which our research had identified.</p>
      <img src="../../assets/images/Business/storyboard.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Wireframes</h2>
      </div>
      <p class="float__text text__regular">The storyboards helped the team determine which tasks wireframes should be created for. The tasks chosen were: creating an event, finding an event, organizing the event (communication between the student organization and the company). We started by brainstorming as a team what should be included in each task flow and how information should be grouped. We then sketched out some basic flow and wireframe ideas on a whiteboard before moving on to digital sketches.</p>
      <img src="../../assets/images/Business/wf-3.png" alt="picture of CubeRover students assembling a test rig" class="float__image float__image--sm">
      <p class="float__text text__regular">From the basic wireframe ideas, the group then moved on to creating digital wireframe sketches. From this first iteration, we concluded that we want to minimize the amount of scrolling up and down in the app. We therefore decided to separate the information into different screens instead of displaying everything at once.</p>
      <img src="../../assets/images/Business/wf-digital.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
      <p class="float__text text__regular">At this stage each team member was assigned one task to create a second iteration of wireframes for. We successfully removed up and down scrolling from the app and made the connection between tasks clearer.<br><br>These wireframes are some of the ones I developed to prototype the task of searching for an event to join.</p>
      <div class="float__three">
        <div class="float__three--card">
          <img src="../../assets/images/Business/wf-filter.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
        <div class="float__three--card">
          <img src="../../assets/images/Business/wf-results.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
        <div class="float__three--card">
          <img src="../../assets/images/Business/wf-saved.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
      </div>
      <div class="float__three">
        <div class="float__three--card">
          <img src="../../assets/images/Business/wf-chat.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
        <div class="float__three--card">
          <img src="../../assets/images/Business/wf-invite.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
        <div class="float__three--card">
        </div>
      </div>



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">User Testing</h2>
      </div>
      <p class="float__text text__regular">To user test our app, we created a click through demo of our app on InVision using the second iteration of wireframes. The click through demo can be found <a href="https://invis.io/68GF1WVY3ZN" class="link">here.</a><br><br>After completing user testing we compiled the following report.</p>
      <img src="../../assets/images/Business/userResearch.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Navigation Map</h2>
      </div>
      <p class="float__text text__regular">Creating the navigation map for the app made our team realize how much more complex the flow of the app was. There were many details we had not figured out as a group. However, in the process of completing the navigation map, we filled those gaps in our design and made the necessary adjustments in our designs and wireframes.</p>
      <img src="../../assets/images/Business/navmap.png" alt="picture of CubeRover students assembling a test rig" class="float__image">




      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Mood Board</h2>
      </div>
      <p class="float__text text__regular">Once we were comfortable with the wireframes of our app we decided to take a look at branding and developed this mood board as a guide.</p>
      <img src="../../assets/images/Business/moodBoard.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">




      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Final Renderings</h2>
      </div>
      <p class="float__text text__regular">Finally, we developed several full renderings of screens to show how the visual language of the branding would be implemented within the structure of our wireframes.</p>
      <div class="float__three">
        <div class="float__three--card">
          <img src="../../assets/images/Business/render-1.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
        <div class="float__three--card">
          <img src="../../assets/images/Business/render-2.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
        <div class="float__three--card">
          <img src="../../assets/images/Business/render-3.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
      </div>
      <div class="float__three">
        <div class="float__three--card"></div>
        <div class="float__three--card">
          <img src="../../assets/images/Business/render-4.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
        <div class="float__three--card"></div>
      </div>



      











    </div>
    
  </div>
</div>