<div class="footer">
  <div class="footer__container">
    <div class="footer__nav">
      <h4 class="footer__nav--title"><a href="/" class="header__tiny">Portfolio</a></h4>
      <a routerLink="../cuberover" class="footer__nav--item text__regular">CubeRover</a>
      <a routerLink="../business" class="footer__nav--item text__regular">Business Casual</a>
      <a routerLink="../offbeat" class="footer__nav--item text__regular">OffBeat</a>
      <a routerLink="../concept" class="footer__nav--item text__regular">Concept Design</a>
      <a routerLink="../hyperloop" class="footer__nav--item text__regular">Hyperloop</a>
      <a routerLink="../radpiper" class="footer__nav--item text__regular">RadPiper</a>
      <a routerLink="../drafter" class="footer__nav--item text__regular">Project Drafter</a>
    </div>

    <div class="footer__contact">
      <h4 class="header__tiny footer__contact--title"><a href="contact" class="header__tiny">Contact</a></h4>
      <p class="footer__contact--item text__regular">+1 (216) 906-2393</p>
      <p class="footer__contact--item text__regular">johnwalker.moosbrugger@gmail.com</p>
    </div>

    <div class="footer__copyright text__regular">Copyright &copy; John Walker Moosbrugger, 2018</div>
  </div>
</div>