<div class="case">
  <div class="case__container contact__container">
    <app-header></app-header> 
    <div class="contact">
      <h1 class="header__big float__header">Contact</h1>  
      <p class="float__text text__regular">If you want to learn more about me or just talk about my portfolio feel free to reach out and I’ll get back to you as soon as I can.</p>
      <h4 class="footer__nav--title header__tiny" id="contact__title">Phone</h4>
      <p class="float__text text__regular" id="contact__content">(216) 906-2393</p>
      <h4 class="footer__nav--title header__tiny" id="contact__title">Email</h4>
      <p class="float__text text__regular" id="contact__content">johnwalker.moosbrugger@gmail.com</p>
    </div>
  </div>
</div>