
<div class="case">
  <div class="case__container">
    <app-header></app-header> 
    <div class="float">
      <div class="float__top"></div>
      <h1 class="header__big float__header">OffBeat</h1>
      <p class="float__text text__regular">Off-Beat was the culmination of a semester long Service Design project. Service design is a framework of design thinking which is unique in that it considers all parts of an organization as part of the design. For example, a service designer working for a restaurant chain would consider far more than normal customer experiences and touchpoints (waitstaff, menu’s, ect.). Their design would include the backstage processes, from how food is delivered to how the kitchen staff receives the orders in order to provide the best experience to all stakeholders.</p>

      <p class="float__text text__important">For this project we were tasked with designing a music related service that targeted an audience other than the mass market.</p>

      <img src="../../assets/images/offbeat/team.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">
      <p class="float__text--label text__regular">This is the one photo of the whole team we took during the entire process, right after the final presentation. From front to back: Steven Ji, Emma Zelenko, me and Devika Khowala.</p>



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Opportunity</h2>
      </div>

      <p class="float__text text__important">“I’d love to go to a place where there are a bunch of music enthusiasts. It would be great to connect with people who like all sorts of music and are game to explore it all.” <br><span class="text__regular">- Brad Frost, web designer & amateur musician, Pittsburgh</span></p>

      <p class="float__text text__regular">Music is more fun and compelling with other people, but amateur musicians often struggle to find a local community of musicians they can connect with.</p>

      <img src="../../assets/images/offbeat/Opportunity.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Video</h2>
      </div>

      <div class="video__container">
          <iframe src="https://www.youtube.com/embed/0H8U1y3gnQY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="video__container--vid"></iframe>
      </div>
      

      <p class="float__text text__regular">Offbeat helps to build local music communities of amateur musicians through its hosted events and digital platform.</p>



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Stakeholders</h2>
      </div>

      <div class="float__three">
        <div class="float__three--card">
          <img src="../../assets/images/offbeat/Amateur.png" alt="picture of CubeRover students assembling a test rig" class="float__image float__three--card--image">
          <p class="text__regular float__three--card--text">Amateur musicians are the heart of OffBeat, everything we do is about integrating ourselves with this community and building it up.</p>
        </div>
        <div class="float__three--card">
          <img src="../../assets/images/offbeat/host.png" alt="picture of CubeRover students assembling a test rig" class="float__image float__three--card--image">
          <p class="text__regular float__three--card--text">The OffBeat Event Host is the face of our service, they are responsible for coordinating and running our events.</p>
        </div>
        <div class="float__three--card">
          <img src="../../assets/images/offbeat/venues.png" alt="picture of CubeRover students assembling a test rig" class="float__image float__three--card--image">
          <p class="text__regular float__three--card--text">Our venue partners are invaluable partners to the service they provide key parts of the service from space to entrees. </p>
        </div>
      </div>
      


      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Value Flow</h2>
      </div>

      <p class="float__text text__regular">The value flow map is a key document that describes where OffBeat gets value from others what we give them in exchange. In our case Offbeat’s service brings together Venues, Equipment and local music experts to give our customers an experience and community like no other.</p>

      <img src="../../assets/images/offbeat/Value.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Events</h2>
      </div>

      <p class="float__text text__regular">When thinking about what kinds of events OffBeat should host we noticed our ideas tended to fall somewhere on the axis between a performance and a networking event. One of the big questions we had to answer through user testing, which we did through speed dating storyboards, was how structured those events should be.<br><br>What we found was that there wasn’t a perfect solution for every event but rather that people tended to prefer their performance opportunities to be more casual and their networking or learning opportunities to be more structured.</p>

      <img src="../../assets/images/offbeat/Events.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">

      <p class="float__text text__regular">Our findings in our speed dating led us to select three primary types of events. Open-Mic nights would provide musicians an opportunity to perform and share their music with others. Jam Sessions would bring together groups of musicians to find new kinds of sounds and more importantly new friends. Finally, workshops would allow musicians to learn more about their or other’s instruments and improve their craft.</p>



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Service Blueprint</h2>
      </div>

      <img src="../../assets/images/offbeat/Service_Blueprint.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">

      <p class="float__text text__regular">Once we determined what OffBeat would be providing and to whom we developed this service blueprint to describe what frontstage and backstage elements we would need to support that service. This allowed us to create a list of touchpoints which the user would interact with throughout the service. Designing those touchpoints would become our next focus.</p>



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Landing Page</h2>
      </div>

      <p class="float__text text__regular">The goal of our landing page is to inform users about what the service is, show them upcoming events and encourage them to download our app which will be their window into the service.</p>

      <img src="../../assets/images/offbeat/Landing Page.png" alt="picture of CubeRover students assembling a test rig" class="float__image--sm float__image">



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">OffBeat App</h2>
      </div>

      <p class="float__text text__regular">The app is the heart of OffBeat, it lets users know when our events are and helps them build a community as well as handling a variety of administrative tasks such as payment.<br><br>The onboarding sequence of the app is all about getting to know the user and having them set up OffBeat to work best for them. We wanted to make the process simple but interesting to the user, so it didn’t feel like a chore.</p>

      <div class="float__three">
        <div class="float__three--card">
          <img src="../../assets/images/offbeat/Genre.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
        <div class="float__three--card">
          <img src="../../assets/images/offbeat/instruments.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
        <div class="float__three--card">
          <img src="../../assets/images/offbeat/Preferences.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
      </div>

      <p class="float__text text__regular">The app also functions to inform users about upcoming events in their area and tries to make getting information about them as easy as possible.</p>

      <div class="float__three">
        <div class="float__three--card">
        </div>
        <div class="float__three--card">
          <img src="../../assets/images/offbeat/Events.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
        <div class="float__three--card">
        </div>
      </div>

      <p class="float__text text__regular">Finally, the app helps musicians connect with other members of the OffBeat community which attend similar events. This helps people continue the connections they make with us, beyond us.</p>

      <div class="float__three">
        <div class="float__three--half"></div>
        <div class="float__three--card">
          <img src="../../assets/images/offbeat/Community.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
        <div class="float__three--card">
          <img src="../../assets/images/offbeat/Chat.png" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
        <div class="float__three--half"></div>
      </div>



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">OffBeat Host</h2>
      </div>

      <p class="float__text text__regular">The final touchpoint we designed was the OffBeat host. The host is responsible for coordinating our events and we wanted to make sure we hired the right kind of person.</p>

      <img src="../../assets/images/offbeat/Host.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">

      <p class="float__text text__regular">The OffBeat host has three primary roles, most importantly however they should be a relaxed friendly presence in the room who can bring their passion and help grow that passion in others.</p>

      <ul class="float__list text__regular">
        <li class="float__list--item"><span class="text__bold">Community Building<br></span> This method uses pre-programed thresholds or conditions to suggest issues to the user in a clear and fast manner.</li>
        <li class="float__list--item"><span class="text__bold">Check In<br></span> This method uses pre-programed thresholds or conditions to suggest issues to the user in a clear and fast manner.</li>
        <li class="float__list--item"><span class="text__bold">Set up & Clean Up<br></span> By analyzing telemetry originally in a numerical time series this method hopes to identify key areas of interest where patterns are broken or formed.</li>
      </ul>
      
      <img src="../../assets/images/offbeat/thanks.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">

    </div>
    
  </div>
</div>