
<div class="case">
  <div class="case__container">
    <app-header></app-header> 
    <div class="float">
      <div class="float__top"></div>
      <h1 class="header__big float__header">OffBeat</h1>
      <p class="float__text text__regular">Off-Beat was the culmination of a semester long Service Design project. Service design is a framework of design thinking which is unique in that it considers all parts of an organization as part of the design. For example, a service designer working for a restaurant chain would consider far more than normal customer experiences and touchpoints (waitstaff, menu’s, ect.). Their design would include the backstage processes, from how food is delivered to how the kitchen staff receives the orders in order to provide the best experience to all stakeholders.</p>

      <p class="float__text text__important">For this project we were tasked with designing a music related service that targeted an audience other than the mass market.</p>

      <img src="../../assets/images/offbeat/team.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">
      <p class="float__text--label text__regular">This is the one photo of the whole team we took during the entire process, right after the final presentation. From front to back: Steven Ji, Emma Zelenko, me and Devika Khowala.</p>

      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Opportunity</h2>
      </div>

      <p class="float__text text__important">“I’d love to go to a place where there are a bunch of music enthusiasts. It would be great to connect with people who like all sorts of music and are game to explore it all.” <br><span class="text__regular">- Brad Frost, web designer & amateur musician, Pittsburgh</span></p>

      <p class="float__text text__regular">Music is more fun and compelling with other people, but amateur musicians often struggle to find a local community of musicians they can connect with.</p>

      <img src="../../assets/images/offbeat/" alt="picture of CubeRover students assembling a test rig" class="float__image">

      








      <div class="float__four">
        <img src="../../assets/images/PRL_Team.jpg" alt="" class="float__four--image">
        <img src="../../assets/images/PRL_Team.jpg" alt="" class="float__four--image">
        <img src="../../assets/images/PRL_Team.jpg" alt="" class="float__four--image">
        <img src="../../assets/images/PRL_Team.jpg" alt="" class="float__four--image">
      </div>

    </div>
    
  </div>
</div>