<div class="case">
  <div class="case__container">
    <app-header></app-header> 
    <div class="float">
      <div class="float__top"></div>
      <h1 class="header__big float__header">Concept Design</h1>

      <p class="float__text text__regular">From robotics to architecture images have the power sell a vision. A self-taught 3D artist and animator, my renderings have been used for marketing and in successful proposals for projects to NASA and Private investors.<br><br>All of the projects on this page were modeled and rendered in Blender.</p>

      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Architecture</h2>
      </div>

      <img src="../../assets/images/Concept/bedroom.jpg" alt="picture of the CubeRover" class="float__image">
      <img src="../../assets/images/Concept/kitchen.jpg" alt="picture of the CubeRover" class="float__image">
      <img src="../../assets/images/Concept/plane.png" alt="picture of the CubeRover" class="float__image">
      <img src="../../assets/images/Concept/living_room.png" alt="picture of the CubeRover" class="float__image">

      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Animation</h2>
      </div>

      <div class="video__container">
        <iframe src="https://www.youtube.com/embed/Kkjt1YulJWE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="video__container--vid"></iframe>
      </div>

      <div class="video__container">
          <iframe src="https://www.youtube.com/embed/KvQ7DgtnOBU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="video__container--vid"></iframe>
      </div>

    </div>
  </div>
</div>