<div class="case">
  <div class="case__container">
    <app-header></app-header> 
    <div class="float">
      <div class="float__top"></div>
      <h1 class="header__big float__header">RadPiper</h1>

      <p class="float__text text__regular">RadPiper is the latest iteration of PCAMS (Pipe Crawling Activity Measurement System). This is a robotic system commissioned by the United States Department of Energy to assist in the cleanup of retired nuclear plants. The robot automates the task of measuring where dangerous levels of radioactive material has built up on the inside of miles of piping.<br><br>Radpiper is developed by a group of Carnegie Mellon students under the direction of Red Whittaker I have worked off and on for the project as the only User Experience Designer on the team. During that time, I prototyped interfaces for previous iterations of the robot (Pipe Dream) and designed a tracking and labeling system for the robot and its wide range of support equipment.</p>
      <img src="../../assets/images/RadPiper/radpiper.jpg" alt="picture of the CubeRover" class="float__image">



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">Labeling System</h2>
      </div>
      <p class="float__text text__regular">RadPiper is the latest iteration of PCAMS (Pipe Crawling Activity Measurement System). This is a robotic system commissioned by the United States Department of Energy to assist in the cleanup of retired nuclear plants. The robot automates the task of measuring where dangerous levels of radioactive material has built up on the inside of miles of piping.<br><br>Radpiper is developed by a group of Carnegie Mellon students under the direction of Red Whittaker I have worked off and on for the project as the only User Experience Designer on the team. During that time, I prototyped interfaces for previous iterations of the robot (Pipe Dream) and designed a tracking and labeling system for the robot and its wide range of support equipment.</p>
      <img src="../../assets/images/RadPiper/OPLabels.jpg" alt="picture of the CubeRover" class="float__image float__image--sm">
      <p class="float__text text__regular">In order to make sense of a labeling scheme that large we needed to develop a system which allowed users to easily identify what the component they were looking at was and which version of the item it was. This is a breakdown of a fairly average label for one of the 42” RadPiper Launch Rigs.</p>
      <img src="../../assets/images/RadPiper/breakdown.png" alt="picture of the CubeRover" class="float__image float__image--sm">
      <p class="float__text text__regular">In addition to tracking labels we also implemented a variety of custom safety warnings and usage guidelines.</p>
      <div class="float__three">
        <div class="float__three--card">
            <img src="../../assets/images/RadPiper/Warn.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
        <div class="float__three--card">
          <img src="../../assets/images/RadPiper/labelPos.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
      </div>



      <div class="float__subtitle">
        <h2 class="header__medium float__subtitle--text">User Interface</h2>
      </div>
      <p class="float__text text__regular">Pipe Dream is a previous iteration of the RadPiper project. It is distinguished primarily by its methods its method for determining harmful levels of radiation. While RadPiper uses a Radiation Detector to indirectly measure the levels of buildup on the pipe walls Pipe Dream sought to measure those deposits directly.</p>
      <img src="../../assets/images/RadPiper/pipedream.png" alt="picture of the CubeRover" class="float__image">
      <p class="float__text text__regular">Even when combining the images together to generate a single image we realized it was still difficult for a user to accurately predict how the data collected by the robot lined up with what they were seeing.</p>
      <div class="float__three">
        <div class="float__three--card">
            <img src="../../assets/images/RadPiper/img_left.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
        <div class="float__three--card">
          <img src="../../assets/images/RadPiper/img_right.jpg" alt="picture of CubeRover students assembling a test rig" class="float__image">
        </div>
      </div>
      <p class="float__text text__regular">Even when combining the images together to generate a single image we realized it was still difficult for a user to accurately predict how the data collected by the robot lined up with what they were seeing.<br><br>What we realized was that we needed to create a linear image which could be compared directly to the robot’s data. By taking a small strip from each image the robot took and stitching each photo to the next we were able to create an unwrapped version of the interior of the pipe. By doing this with both regular and UV light we were able to quickly identify deposits inside the pipe.</p>
      <img src="../../assets/images/RadPiper/ortho_color.jpg" alt="picture of the CubeRover" class="float__image">
      <img src="../../assets/images/RadPiper/ortho_UV.png" alt="picture of the CubeRover" class="float__image">
      <p class="float__text text__regular">Finally, we designed an interface which would let an onsite operator quickly compare the visuals inside the pipe to the data collected directly by the robot and make decisions about which parts of the pipes could be safely removed from the site.</p>
      <img src="../../assets/images/RadPiper/piper_UI.png" alt="picture of the CubeRover" class="float__image">

    </div>
    
  </div>
</div>