<div class="case">
    <div class="case__container">
      <app-header></app-header> 
      <div class="float">
        <div class="float__top"></div>
        <h1 class="header__big float__header">Hyperloop</h1>  
  
        <p class="float__text text__regular">The Hyperloop is a proposed new form of transport which uses vacuum tubes and magnetic levitation to achieve speeds of over 700mph. Carnegie Mellon Hyperloop is a student organization which competes with other teams in the SpaceX Hyperloop Competition. When I joined the team as Co-Design lead Thomas Kelly and I wanted to create something that could get people excited about the hyperloop and help tell a story about why our work was important.<br><br>We landed on developing a virtual reality motion simulator which would tell a human story and give people a chance to experience the hyperloop at the same time. The experience was made up of a full 3D virtual hyperloop and a video narrative we wrote and filmed ourselves which showed how the ability to get from Pittsburgh to Chicago in less than an hour could change our lives.</p>

        <div class="video__container">
            <iframe src="https://www.youtube.com/embed/rcD8MBQHjYY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="video__container--vid"></iframe>
        </div>

        <p class="float__text text__regular">In addition to the experience inside the headset during the experience guests would experience the sense of gentle acceleration similar to a full scale hyperloop. This is simulated by tipping the entire platform back while the guest’s visual frame of reference stays the same inside of the VR experience. The sensation of slow acceleration surprised many of our guests who had assumed the great speeds would be accompanied by discomfort.</p>

        <img src="../../assets/images/hyperloop/ride.jpg" alt="picture of the CubeRover" class="float__image">

        <p class="float__text text__regular">The ride was such a success at our 2017 pod reveal event that Volvo decided to sponsor us as part of their future showcase at ConExpo 2017 in Las Vegas, a week-long trade show where over a thousand people were able to experience our work.  Since then the experience has been exhibited at four more events across the country.</p>

        <img src="../../assets/images/hyperloop/ride-2.jpg" alt="picture of the CubeRover" class="float__image float__image--sm">
        <img src="../../assets/images/hyperloop/video-1.png" alt="picture of the CubeRover" class="float__image">
        <img src="../../assets/images/hyperloop/interior.jpg" alt="picture of the CubeRover" class="float__image">
        <img src="../../assets/images/hyperloop/vegas.jpg" alt="picture of the CubeRover" class="float__image">

      </div>
      
    </div>
  </div>